@tailwind base;
@tailwind components;
@tailwind utilities;

html { scroll-behavior: smooth; }


.typed-cursor{
    opacity: 1;
    animation: typedjsBlink 0.7s infinite;
    -webkit-animation: typedjsBlink 0.7s infinite;
    animation: typedjsBlink 0.7s infinite;
  }
  @keyframes typedjsBlink{
    50% { opacity: 0.0; }
  }
  @-webkit-keyframes typedjsBlink{
    0% { opacity: 1; }
    50% { opacity: 0.0; }
    100% { opacity: 1; }
  }
  .typed-fade-out{
    opacity: 0;
    transition: opacity .50s;
    -webkit-animation: 0;
    animation: 0;
  }

  @keyframes flicker {
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
      opacity: 1;
      text-shadow: none;
    }
    
    20%, 22%, 24%, 55% {
      opacity: 0.3;
      text-shadow: 0 0 10px rgba(255, 255, 255, 0.9);
    }
  }
  
  .flicker-text {
    animation: flicker 2s infinite;
  }
  